@import url(./global.css);

#profile .pictureContainer {
    display: block;
    margin: auto;
    width: 90%;
    max-width: 200px;
}

#profile .pictureContainer img {
    display: block;
    margin: auto;
    width: 100%;
    height: 200px;
    border-radius: 200px;
    object-fit: cover;
    object-position: center;
}

#profile .pictureContainer label {
    text-align: center;
    position: absolute;
    margin-top: -200px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    opacity: 0;
    background: #000 url(../img/upload-pic.png) no-repeat center;
    cursor: pointer;
}

#profile .pictureContainer label:hover {
    opacity: 0.7;
}

#profile p.name {
    display: block;
    margin: auto;
    padding: 0px 20px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 40px;
}

#profile p.row {
    font-size: 12pt;
    display: block;
    margin: 10px 30px;
    padding: 10px 15px;
    background-color: #eee;
    border-radius: 5px;
}

.container p{
    text-align: center;
}